<!-- <h1>Hello WOrld</h1>
 <button (click)="getName(yourName)">CLick me </button>


 <h1>Important events in Angular</h1>
 <input type="text" (keyup)="getName(yourName)" >
 <label onmouseover="getName(yourName)"> Ashishsss </label>

 <div (onmouseover)="getName(yourName)"  >test</div>

 <input type="text" [disabled]="disabledBox" [value]="yourName">
 <br>
 <br>
 <input type="text" disabled= {{disabledBox}} value={{yourName}}>

 <button (click)="enableButton()" >Enable</button>


<h1 *ngIf="shows elseif elseifBlock ngIfElse elseBlock "> If Condition</h1>
<ng-template #elseIFBlock>
    <h1>elseifBlock</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>elseBlock</h1>
</ng-template>





<form id=></form> -->

<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
       
            <a class="nav-link"[routerLink]="['/']" >Data Binding</a>
            <a class="nav-link"[routerLink]="['/dir']" >Directive</a>
            <a class="nav-link"[routerLink]="['/pipe']" >Pipe</a>
            <a class="nav-link"[routerLink]="['/*']" ></a>

         
        
    </ul>
</nav>
<div>
    <router-outlet></router-outlet>
</div>